.messageBox {
  background: #F3F3F3;
  border-radius: 10px;
  padding: 0px 10px;
  color: white;
  display: inline-block;
  max-width: 80%;
  position: relative;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
  touch-action: none;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.idContainer {
  justify-content: flex-end;
  padding: 8px 5% 0 5%;
  margin-left: 8px;
  font-weight: bold;
  color :Gray;
  font-size: 0.9em;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #ced4da;
  letter-spacing: 0.3px;
}

.answerContainer {
  display: none;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundGray {
  background: #f3f3f3;
}

.backgroundLight {
  background: #F3F3F3;
}

.backgroundBlue {
  background: #2979FF;
}

.click {
  background-color: #d1d0d0;
}